body {
  font-family: "Manrope", sans-serif;
  width: 1400px;
  margin: 0 auto;
  background: #f5f5f5;
}

h1 {
  width: 956px;
  height: 120px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: rgba(18, 18, 18, 1);
  margin-bottom: 30px;
  letter-spacing: -0.03em;
}

.container1 {
  width: 1150px;
  height: 650px;
  margin-left: 125px;
  box-sizing: border-box;
  margin-bottom: 150px;
}
.interior1 {
  width: 1150px;
  height: 500px;
  background-image: url(../resources/interior1.png);
  background-size: contain;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 150px;
}

.interior1 p {
  width: 450px;
  height: 81px;
  font-size: 20px;
  line-height: 27.32px;
  font-weight: 400;
  padding-top: 379px;
  padding-left: 40px;
  padding-right: 700px;
}

.container2 {
  width: 1051px;
  height: 518px;
  margin-left: 125px;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 30px;
  width: 60px;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.03em;
}

.text1 p {
  margin-bottom: 31px;
  text-align: left;
  letter-spacing: -0.03em;
  width: 1048px;
  height: 366px;
  line-height: 61.47px;
  font-size: 45px;
  font-weight: 400;
}

.container2 a {
  margin-bottom: 150px;
  display: block;
  width: 255px;
  height: 66px;
  font-weight: 400;
  font-size: 20px;
  line-height: 66px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: rgba(173, 24, 24, 1);
  border-radius: 5px;
}

.container3 {
  margin-left: 125px;
  margin-top: 150px;
  width: 1150px;
}
.projects__image {
  margin-bottom: 15px;
}
.projects__name {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
}

.projects a {
  margin-bottom: 90px;
  display: block;
  height: 27px;
  width: 127px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ad1818;
  text-decoration: none;
}
.view-all-projects {
  display: block;
  box-sizing: border-box;
  margin-bottom: 150px;
  padding-top: 56px;
  padding-bottom: 56px;
  height: 153px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ad1818;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
  text-align: center;
  text-decoration: none;
  color: #ad1818;
}
a:hover {
  color: #ffffff;
  background-color: #ad1818;
}
.container4 {
  margin: 0;
  width: 1400px;
  height: 1844px;
  background-color: #121212;
}
.container4 h2 {
  margin-bottom: 34px;
  color: #ffffff;
}
